name: Continous Integration

on: [push, pull_request]

jobs:
  build-and-unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.19"
      - run: make build test
